@page "/catalog"
@inject ICatalog catalog
<h3>CatalogPage</h3>
<link href="css/app.css" rel="stylesheet" />

@foreach (var product in _products)
{
    Guid = @product.Id;
    imageSource = $"ProductImages/{product.Name}.jpg";
    //<p>Id: @product.Id Name: @product.Name Price:@product.Price</p>

    <p> <a href=/ProductInfo/@Guid>@product.Name  @product.Price</a> </p>
    @if (imageSource is not null)
    {
        <p >
            <img class="productImg" src="@imageSource" />
        </p>
    }
   
    
}


@code {
    
    private string? imageSource;
    
}

